.Nav {
    padding: 55px 0 105px;
}
.Nav ul {
    padding: 0;
    margin: 4px 0 0;
}
.Nav ul li {
    display: inline-block;
}
.Nav ul li a {
    display: block;
    font: 500 15px 'Montserrat';
    color: #1d1d1c;
    margin: 0 25px;
    text-decoration: none;
}


@media only screen and (max-width:768px) {
   .Nav {
      padding: 35px 0 80px;
    } 
}